### Bibliotecas

In [13]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import (
    mean_absolute_error,
    mean_squared_error,
    r2_score
)
from datetime import datetime
import tensorflow as tf

### Carregando Dados

In [14]:
df_sf = pd.read_csv(r'/home/alexandre/Downloads/UFABC_Tambra/Dados/SoftFailure_dataset.csv')

### Preparação dos dados

#### Conversão para datetime

In [15]:
df_sf['Timestamp_s'] = pd.to_datetime(df_sf.Timestamp,unit='s')#[[0]]
df_sf['Timestamp_data'] = df_sf['Timestamp_s'].astype(str).str.split(expand=True)[0]
df_sf['Timestamp_hora'] = df_sf['Timestamp_s'].astype(str).str.split(expand=True)[1]

#### Replice Failure - NaN = 0

In [16]:
df_sf.Failure = df_sf.Failure.replace(np.NaN,0).astype(int)

### Exploração dos dados

In [17]:
df_sf.head()

,Timestamp,Type,ID,BER,OSNR,InputPower,OutputPower,Failure,Timestamp_s,Timestamp_data,Timestamp_hora
0,1624457562,Devices,SPO1/18/11,2.310000e-08,38.6,NaN,NaN,0,2021-06-23 14:12:42,2021-06-23,14:12:42
1,1624457562,Infrastructure,Ampli1,NaN,NaN,-19.2,0.7,0,2021-06-23 14:12:42,2021-06-23,14:12:42
2,1624457562,Devices,SPO2/18/11,1.720000e-07,25.8,NaN,NaN,0,2021-06-23 14:12:42,2021-06-23,14:12:42
3,1624457562,Infrastructure,Ampli3,NaN,NaN,-16.7,0.8,0,2021-06-23 14:12:42,2021-06-23,14:12:42
4,1624457562,Infrastructure,Ampli2,NaN,NaN,-15.5,0.4,0,2021-06-23 14:12:42,2021-06-23,14:12:42

In [18]:
df_sf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53697 entries, 0 to 53696
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Timestamp       53697 non-null  int64
 1   Type            53697 non-null  object
 2   ID              53697 non-null  object
 3   BER             17899 non-null  float64
 4   OSNR            17899 non-null  float64
 5   InputPower      35798 non-null  float64
 6   OutputPower     35798 non-null  float64
 7   Failure         53697 non-null  int64
 8   Timestamp_s     53697 non-null  datetime64[ns]
 9   Timestamp_data  53697 non-null  object
 10  Timestamp_hora  53697 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(2), object(4)
memory usage: 4.5+ MB

In [19]:
df_sf.describe()

,Timestamp,BER,OSNR,InputPower,OutputPower,Failure,Timestamp_s
count,5.369700e+04,1.789900e+04,17899.000000,35798.000000,35798.000000,53697.000000,53697
mean,1.624472e+09,7.251164e-06,31.621493,-19.016101,0.647648,0.095462,2021-06-23 18:13:34.512542720
min,1.624458e+09,1.480000e-08,18.100000,-29.100000,0.400000,0.000000,2021-06-23 14:12:42
25%,1.624465e+09,2.240000e-08,25.300000,-22.875000,0.700000,0.000000,2021-06-23 16:13:01
50%,1.624472e+09,1.160000e-07,26.300000,-17.950000,0.700000,0.000000,2021-06-23 18:13:41
75%,1.624479e+09,2.190000e-07,38.600000,-16.700000,0.700000,0.000000,2021-06-23 20:13:59
max,1.624486e+09,1.544550e-04,38.600000,-15.500000,0.800000,1.000000,2021-06-23 22:14:11
std,8.339434e+03,3.160527e-05,7.076795,3.309115,0.148368,0.293854,NaN

In [20]:
df_sf.corr(numeric_only=True)

             Timestamp       BER      OSNR  InputPower  OutputPower   Failure
Timestamp     1.000000  0.180563 -0.037079   -0.050614    -0.013532  0.257395
BER           0.180563  1.000000 -0.424597         NaN          NaN  0.636417
OSNR         -0.037079 -0.424597  1.000000         NaN          NaN -0.131970
InputPower   -0.050614       NaN       NaN    1.000000    -0.428753 -0.209096
OutputPower  -0.013532       NaN       NaN   -0.428753     1.000000 -0.048795
Failure       0.257395  0.636417 -0.131970   -0.209096    -0.048795  1.000000

In [21]:
df_sf.Type.unique()

array(['Devices', 'Infrastructure'], dtype=object)

In [22]:
df_sf.ID.unique()

array(['SPO1/18/11', 'Ampli1', 'SPO2/18/11', 'Ampli3', 'Ampli2', 'Ampli4'],
      dtype=object)

### Exploração dos dados